:root {
    --color-clvr: #01e600;
    --color-clrj: #ea3f6f;
    --color-claz: #1eb2f2;
    --color-clgr: #717a85;
    --color-clam: #fedc00;
    --color-clng: #24262d;
  }
 
body{
    background-color: var(--color-clgr);
}

.menulat{
    background-image: url(../img/ibg1.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}
#bgimgrespon{
    background-repeat: no-repeat;
background-size: cover;
background-position: center center;
background-attachment: fixed;
}
@media (max-width: 575.98px) {
    .offcanvas.offcanvas-start {
        top: 0;
        left: 0;
        width: 90vw;
        border-right: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
        transform: translateX(-100%);
      }
}

  